
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section class="about">
        <div class="container-lg h-height">
            <div class="row align-items-center h-height">
                <div class="col-12 col-md-6">
                    <div class="personajes-content">
                        <h1>About</h1>

                        <p class="text-center">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam
                            praesentium mollitia minus illum numquam deserunt officia dolorum voluptatibus facilis
                            molestias! Ut eligendi corporis.
                        </p>

                    </div>
                </div>
                <div class="col-12 col-md-6 about-image-cont">
                    <img src="/images/about.png" class="img-fluid d-block mx-auto about-image" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="p-5">
        <div class="container">
            <h1 class="titulares">objetivos</h1>
            <hr class="linea">

            <div class="row about-container">
                <div class="col-5">
                    <img src="/images/about-image-1.jpeg" class="img-fluid" alt="">
                </div>
                <div class="col-7 about-content">
                    <img class="mb-2" src="/images/about1.svg" alt="">
                    <h2 class="mb-3">Específicos</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit corporis expedita magni aliquam
                        ex ad possimus alias ipsum temporibus veritatis dolorum soluta vero, eum esse officia
                        laboriosam qui excepturi dolor.
                        Dicta numquam dolorum eligendi aliquid assumenda asperiores architecto? Aliquam consequatur
                        quo explicabo rem
                    </p>
                </div>
            </div>

            <div class="row about-container">
                <div class="col-7 about-content">
                    <img class="mb-2" src="/images/generales.svg" alt="">
                    <h2 class="mb-3">Generales</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit corporis expedita magni aliquam
                        ex ad possimus alias ipsum temporibus veritatis dolorum soluta vero, eum esse officia
                        laboriosam qui excepturi dolor.
                        Dicta numquam dolorum eligendi aliquid assumenda asperiores architecto? Aliquam consequatur
                        quo explicabo rem
                    </p>
                </div>
                <div class="col-5">
                    <img src="/images/about-image-1.jpeg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <h1 class="titulares">MARCAS</h1>
            <hr class="linea">

            <div class="row pt-5">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="categorias-card">
                        <div class="categoria-card-header">
                            <img class="img-fluid" src="/images/categoria-1-image.jpeg" alt="">
                        </div>
                        <div class="categoria-card-content">
                            <h2>Adulting Together</h2>
                            <p>
                                Un espacio para aprender a ser adulto junto a tus amigos de la
                                infancia, que como tú siempre están aprendiendo sobre el complicado
                                mundo de la adultez, porque ellos de alguna manera también fueron
                                teens en los noventa y tienen los mismos insights.
                            </p>

                            <a class="categoria-card-button" href="javascript:void(0)">
                                <span>VER MÁS</span>
                                <img class="icono" src="/images/plus.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="categorias-card">
                        <div class="categoria-card-header">
                            <img class="img-fluid" src="/images/categoria-2-image.jpeg" alt="">
                        </div>
                        <div class="categoria-card-content">
                            <h2>Adulting Together</h2>
                            <p>
                                Un espacio para aprender a ser adulto junto a tus amigos de la
                                infancia, que como tú siempre están aprendiendo sobre el complicado
                                mundo de la adultez, porque ellos de alguna manera también fueron
                                teens en los noventa y tienen los mismos insights.
                            </p>

                            <a class="categoria-card-button" href="javascript:void(0)">
                                <span>VER MÁS</span>
                                <img class="icono" src="/images/plus.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="categorias-card">
                        <div class="categoria-card-header">
                            <img class="img-fluid" src="/images/categoria-3-image.jpeg" alt="">
                        </div>
                        <div class="categoria-card-content">
                            <h2>Adulting Together</h2>
                            <p>
                                Un espacio para aprender a ser adulto junto a tus amigos de la
                                infancia, que como tú siempre están aprendiendo sobre el complicado
                                mundo de la adultez, porque ellos de alguna manera también fueron
                                teens en los noventa y tienen los mismos insights.
                            </p>

                            <a class="categoria-card-button" href="javascript:void(0)">
                                <span>VER MÁS</span>
                                <img class="icono" src="/images/plus.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex my-5">
            <a href="javascript:void(0)" class="boton-primario mx-auto">
                <span>VER TODAS LAS NOTAS</span>
                <img src="/images/eye.svg" alt="">
            </a>
        </div>
    </section>

    <section>
        <div class="container">
            <h1 class="titulares">Related links</h1>
            <hr class="linea">

            <div class="row py-5">
                <div class="col-6 col-lg-3 pb-3">
                    <ul class="nav flex-column gap-3">
                        <li class="nav-item">
                            <a class="nav-link about-links active" aria-current="page" href="javascript:void(0)">
                                Lorem Ipsum is
                                simply
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link about-links" href="javascript:void(0)">Lorem Ipsum is simply </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link about-links" href="javascript:void(0)">Lorem Ipsum is simply </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link about-links" href="javascript:void(0)" tabindex="-1" aria-disabled="true">
                                Lorem Ipsum
                                is simply
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-lg-3 pb-3">
                    <ul class="nav flex-column gap-3">
                        <li class="nav-item">
                            <a class="nav-link about-links active" aria-current="page" href="javascript:void(0)">
                                Lorem Ipsum is
                                simply
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link about-links" href="javascript:void(0)">Lorem Ipsum is simply </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link about-links" href="javascript:void(0)">Lorem Ipsum is simply </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link about-links" href="javascript:void(0)" tabindex="-1" aria-disabled="true">
                                Lorem Ipsum
                                is simply
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-lg-3 pb-3">
                    <ul class="nav flex-column gap-3">
                        <li class="nav-item">
                            <a class="nav-link about-links active" aria-current="page" href="javascript:void(0)">
                                Lorem Ipsum is
                                simply
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link about-links" href="javascript:void(0)">Lorem Ipsum is simply </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link about-links" href="javascript:void(0)">Lorem Ipsum is simply </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link about-links" href="javascript:void(0)" tabindex="-1" aria-disabled="true">
                                Lorem Ipsum
                                is simply
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-lg-3 pb-3">
                    <ul class="nav flex-column gap-3">
                        <li class="nav-item">
                            <a class="nav-link about-links active" aria-current="page" href="javascript:void(0)">
                                Lorem Ipsum is
                                simply
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link about-links" href="javascript:void(0)">Lorem Ipsum is simply </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link about-links" href="javascript:void(0)">Lorem Ipsum is simply </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link about-links" href="javascript:void(0)" tabindex="-1" aria-disabled="true">
                                Lorem Ipsum
                                is simply
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


