
@{
    ViewBag.Title = "Actividades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Amigos Kelloggs</h1>
                <p>Amigos Kelloggs es un programa de lealtad que premia a los consumidores de productos Kellogg´s con puntos que pueden ser canjeados por premios. Los puntos se acumulan en la cuenta del usuario y pueden ser canjeados por premios en la tienda en línea.</p>
            </div>
        </div>
    </div>


