
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="header-blog">
        <div class="container">
            <span class="header-blog-date">Miercoles 3 de enero 2024</span>
            <h1 class="header-blog-title">2024, un año lleno de momentos de celebración para kellavona</h1>

            <div class="d-flex flex-wrap justify-content-center gap-3 mt-4">
                <a href="javascript:void(0)" class="boton-primario">
                    CATEGORÍA 1
                </a>
                <a href="javascript:void(0)" class="boton-primario">
                    CATEGORÍA 2
                </a>
                <a href="javascript:void(0)" class="boton-primario">
                    CATEGORÍA 3
                </a>
            </div>
        </div>
    </div>


    <div class="blog-container">
        <div class="container">
            <img src="/images/image-blog.jpeg" class="img-fluid mb-5" alt="">

            <p>
                Lorem ipsum dolor sit amet consectetur. Volutpat felis gravida pretium fames suspendisse ipsum velit
                nec. Diam elementum nulla tincidunt eget faucibus libero. Egestas non elementum consequat adipiscing
                tortor lectus at lobortis aliquam. Duis ac massa placerat diam convallis. Dolor sagittis integer
                mollis ullamcorper. Varius urna montes augue sed. Malesuada iaculis amet vitae vestibulum adipiscing
                nisi natoque porta. Magna fringilla mi tellus arcu. Commodo tempus cras eget nibh dolor. Vitae
                gravida odio sed maecenas nibh egestas. Erat feugiat egestas et lorem in iaculis enim.
            </p>

            <hr class="blog-line">

            <h3 class="blog-quote">
                “Lorem ipsum dolor sit amet consectetur. Dignissim in vel risus elit ligula ultricies vitae. Lorem
                ipsum dolor sit amet consectetur. Dignissim in vel risus elit ligula ultricies vitae”
            </h3>

            <hr class="blog-line">

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, adipisci libero? Ducimus est sint
                at ad eum placeat obcaecati laudantium, fugiat illum rerum fugit voluptatibus, nulla nostrum
                corporis! Vitae, vel?
                At non vitae enim tempore culpa optio eligendi reprehenderit debitis quae, dignissimos aliquid eum
                in illo sunt, sed veritatis eaque architecto sequi! Quasi, corporis magnam recusandae animi
                cupiditate quidem repudiandae.
                Quia eum, aut libero consequatur rerum reprehenderit animi corporis nostrum totam neque cupiditate
                dolores laudantium obcaecati necessitatibus voluptate earum facilis quibusdam modi est incidunt
                exercitationem natus. Consequuntur corrupti quis aliquid!
            </p>

            <img src="/images/imagen-blog-2.jpeg" class="img-fluid py-4" alt="">

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, adipisci libero? Ducimus est sint
                at ad eum placeat obcaecati laudantium, fugiat illum rerum fugit voluptatibus, nulla nostrum
                corporis! Vitae, vel?
                At non vitae enim tempore culpa optio eligendi reprehenderit debitis quae, dignissimos aliquid eum
                in illo sunt, sed veritatis eaque architecto sequi! Quasi, corporis magnam recusandae animi
                cupiditate quidem repudiandae.
                Quia eum, aut libero consequatur rerum reprehenderit animi corporis nostrum totam neque cupiditate
                dolores laudantium obcaecati necessitatibus voluptate earum facilis quibusdam modi est incidunt
                exercitationem natus. Consequuntur corrupti quis aliquid!
            </p>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, adipisci libero? Ducimus est sint
                at ad eum placeat obcaecati laudantium, fugiat illum rerum fugit voluptatibus, nulla nostrum
                corporis! Vitae, vel?
                At non vitae enim tempore culpa optio eligendi reprehenderit debitis quae, dignissimos aliquid eum
                in illo sunt, sed veritatis eaque architecto sequi! Quasi, corporis magnam recusandae animi
                cupiditate quidem repudiandae.
                Quia eum, aut libero consequatur rerum reprehenderit animi corporis nostrum totam neque cupiditate
                dolores laudantium obcaecati necessitatibus voluptate earum facilis quibusdam modi est incidunt
                exercitationem natus. Consequuntur corrupti quis aliquid!
            </p>
        </div>
    </div>

    <!-- Categorias -->
    <section>
        <div class="container">

            <h1 class="titulares">noticias relacionadas</h1>
            <hr class="linea">

            <div class="row mt-5">
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="categorias-card">
                        <div class="categoria-card-header">
                            <img class="img-fluid" src="/images/categoria-1-image.jpeg" alt="">
                        </div>
                        <div class="categoria-card-content">
                            <h2>Adulting Together</h2>
                            <p>
                                Un espacio para aprender a ser adulto junto a tus amigos de la
                                infancia, que como tú siempre están aprendiendo sobre el complicado
                                mundo de la adultez, porque ellos de alguna manera también fueron
                                teens en los noventa y tienen los mismos insights.
                            </p>

                            <a class="categoria-card-button" href="javascript:void(0)">
                                <span>VER MÁS</span>
                                <img class="icono" src="/images/plus.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="categorias-card">
                        <div class="categoria-card-header">
                            <img class="img-fluid" src="/images/categoria-2-image.jpeg" alt="">
                        </div>
                        <div class="categoria-card-content">
                            <h2>Adulting Together</h2>
                            <p>
                                Un espacio para aprender a ser adulto junto a tus amigos de la
                                infancia, que como tú siempre están aprendiendo sobre el complicado
                                mundo de la adultez, porque ellos de alguna manera también fueron
                                teens en los noventa y tienen los mismos insights.
                            </p>

                            <a class="categoria-card-button" href="javascript:void(0)">
                                <span>VER MÁS</span>
                                <img class="icono" src="/images/plus.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="categorias-card">
                        <div class="categoria-card-header">
                            <img class="img-fluid" src="/images/categoria-3-image.jpeg" alt="">
                        </div>
                        <div class="categoria-card-content">
                            <h2>Adulting Together</h2>
                            <p>
                                Un espacio para aprender a ser adulto junto a tus amigos de la
                                infancia, que como tú siempre están aprendiendo sobre el complicado
                                mundo de la adultez, porque ellos de alguna manera también fueron
                                teens en los noventa y tienen los mismos insights.
                            </p>

                            <a class="categoria-card-button" href="javascript:void(0)">
                                <span>VER MÁS</span>
                                <img class="icono" src="/images/plus.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex my-5">
            <a href="javascript:void(0)" class="boton-primario mx-auto">
                <span>VER TODAS LAS NOTAS</span>
                <img src="/images/eye.svg" alt="">
            </a>
        </div>
    </section>


