@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ClassType = "bg-personajes";
}

    <section>
        <div class="container-lg">
            <div id="personajes" class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="personajes-content">
                        <h1>Contacto</h1>

                        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam praesentium mollitia minus illum numquam deserunt officia dolorum voluptatibus facilis molestias! Ut eligendi corporis, minima illo explicabo possimus! Ullam, soluta officia.</p>

                        <a class="boton-primario mt-3" href="javascript:void(0)">
                            <span>CONOCE A TUS AMIGOS</span>
                            <img class="img-fluid" src="/images/friends.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <img src="/images/contacto-img.png" class="img-fluid d-block mx-auto" alt="">
                </div>
            </div>
        </div>
    </section>


