
@{
    ViewBag.Title = "Personajes";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ClassType = "bg-personajes";
}

    <section class="personaje">
        <div class="container-lg">
            <div id="slider-personajes" class="carousel slide" data-bs-ride="carousel">

                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#slider-personajes" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#slider-personajes" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#slider-personajes" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#slider-personajes" data-bs-slide-to="3"
                            aria-label="Slide 4"></button>
                </div>

                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <div id="personajes" class="row align-items-center">
                            <div class="col-12 col-md-6">
                                <div class="personajes-content">
                                    <h1>Tigre toño</h1>

                                    <div class="personaje-atributos">
                                        <div class="personajes-pills fondo-terceario">
                                            <span>Energía</span>
                                            <img src="/images/energia.svg" alt="">
                                        </div>
                                        <div class="personajes-pills">
                                            <span>rico en fibra</span>
                                            <img src="/images/fibra.svg" alt="">
                                        </div>
                                        <div class="personajes-pills">
                                            <span>vitamina d</span>
                                            <img src="/images/vitamina.svg" alt="">
                                        </div>
                                    </div>

                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam praesentium mollitia minus illum
                                        numquam deserunt officia dolorum voluptatibus facilis molestias! Ut eligendi corporis, minima illo
                                        explicabo possimus! Ullam, soluta officia.
                                    </p>

                                    <a class="boton-primario mt-3" href="~">
                                        <span>CONOCE A TUS AMIGOS</span>
                                        <img class="img-fluid" src="/images/friends.svg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <img src="/images/tigre-tono-personaje.png" class="img-fluid d-block mx-auto" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div id="personajes" class="row align-items-center">
                            <div class="col-12 col-md-6">
                                <div class="personajes-content">
                                    <h1>Tigre toño</h1>

                                    <div class="personaje-atributos">
                                        <div class="personajes-pills fondo-terceario">
                                            <span>Energía</span>
                                            <img src="/images/energia.svg" alt="">
                                        </div>
                                        <div class="personajes-pills">
                                            <span>rico en fibra</span>
                                            <img src="/images/fibra.svg" alt="">
                                        </div>
                                        <div class="personajes-pills">
                                            <span>vitamina d</span>
                                            <img src="/images/vitamina.svg" alt="">
                                        </div>
                                    </div>

                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam praesentium mollitia minus illum
                                        numquam deserunt officia dolorum voluptatibus facilis molestias! Ut eligendi corporis, minima illo
                                        explicabo possimus! Ullam, soluta officia.
                                    </p>

                                    <a class="boton-primario mt-3" href="~">
                                        <span>CONOCE A TUS AMIGOS</span>
                                        <img class="img-fluid" src="/images/friends.svg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <img src="/images/tigre-tono-personaje.png" class="img-fluid d-block mx-auto" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div id="personajes" class="row align-items-center">
                            <div class="col-12 col-md-6">
                                <div class="personajes-content">
                                    <h1>Tigre toño</h1>

                                    <div class="personaje-atributos">
                                        <div class="personajes-pills fondo-terceario">
                                            <span>Energía</span>
                                            <img src="/images/energia.svg" alt="">
                                        </div>
                                        <div class="personajes-pills">
                                            <span>rico en fibra</span>
                                            <img src="/images/fibra.svg" alt="">
                                        </div>
                                        <div class="personajes-pills">
                                            <span>vitamina d</span>
                                            <img src="/images/vitamina.svg" alt="">
                                        </div>
                                    </div>

                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam praesentium mollitia minus illum
                                        numquam deserunt officia dolorum voluptatibus facilis molestias! Ut eligendi corporis, minima illo
                                        explicabo possimus! Ullam, soluta officia.
                                    </p>

                                    <a class="boton-primario mt-3" href="~">
                                        <span>CONOCE A TUS AMIGOS</span>
                                        <img class="img-fluid" src="/images/friends.svg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <img src="/images/tigre-tono-personaje.png" class="img-fluid d-block mx-auto" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div id="personajes" class="row align-items-center">
                            <div class="col-12 col-md-6">
                                <div class="personajes-content">
                                    <h1>Tigre toño</h1>

                                    <div class="personaje-atributos">
                                        <div class="personajes-pills fondo-terceario">
                                            <span>Energía</span>
                                            <img src="/images/energia.svg" alt="">
                                        </div>
                                        <div class="personajes-pills">
                                            <span>rico en fibra</span>
                                            <img src="/images/fibra.svg" alt="">
                                        </div>
                                        <div class="personajes-pills">
                                            <span>vitamina d</span>
                                            <img src="/images/vitamina.svg" alt="">
                                        </div>
                                    </div>

                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam praesentium mollitia minus illum
                                        numquam deserunt officia dolorum voluptatibus facilis molestias! Ut eligendi corporis, minima illo
                                        explicabo possimus! Ullam, soluta officia.
                                    </p>

                                    <a class="boton-primario mt-3" href="~">
                                        <span>CONOCE A TUS AMIGOS</span>
                                        <img class="img-fluid" src="/images/friends.svg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <img src="/images/tigre-tono-personaje.png" class="img-fluid d-block mx-auto" alt="">
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>


@section scripts{
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
}

